<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" as="fonts" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap&quot;"> 
  <link rel="preload" as="fonts" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preload" as="style" type="text/css" href="/assets/css.b20aa503.css">
  
  <link rel="manifest" href="http://localhost:9090/assets/manifest.json">
  <link rel="shortcut icon" href="http://localhost:9090/assets/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/assets/css.b20aa503.css">
  
  <script defer="" src="http://localhost:9090/assets/environment.js"></script>
  <script defer="" src="/assets/index.a9420bf8.js"></script>  
  <script defer="" src="/assets/index.5b6d9638.js"></script>  
  <title>{{ block "title" .}}{{ end }}</title>
</head>
<body class="bg-light" id="{{ .TemplateID }}" hx-ext="multi-swap" hx-boost="true">
  
  <header class="header">
    {{ block "header" .}}{{ end }}
  </header>
  <section class="main">
    <div id="page-content-wrapper">
      {{ block "content" .}}{{ end }}
    </div>
  </section>
  <footer class="footer-container-fluid bg-light">
    {{ block "footer" .}}{{ end }}
  </footer>

  <script defer="" src="/assets/index.8e7107bf.js"></script>
</body>
</html>